.funfacts{
  margin: auto;
  text-align: center;
  background-color: darkorange;
  border: 4px solid yellow;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  li{
    text-align: left;
  }
}
.funfacts:hover{
  transform: rotate(90deg);
  transition: transform 1s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .detailsTable{
    display: block;
  }

}