table{
  background-color: darkorange;
  margin: auto;
  text-align: center;
  border: 4px solid yellow;
  td{
    border: 2px solid yellow;
  }
}

table:hover{
  background: yellow;
  color: lime;
  border: 4px dashed lime;
  td:hover{
    border: 4px dashed lime;
  }
  
}
.detailsTable{
  display: flex;
  justify-content: center;
  text-align: center;
}
